<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\puzzle.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="databaseName" value="puzzle.db"/>
    <add key="databasePictures" value="https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg,https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg,https://images.pexels.com/photos/156934/pexels-photo-156934.jpeg,https://images.pexels.com/photos/210243/pexels-photo-210243.jpeg,https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg,https://images.pexels.com/photos/3871071/pexels-photo-3871071.jpeg,https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg,https://images.pexels.com/photos/238631/pexels-photo-238631.jpeg,https://i.ytimg.com/vi/KHJazlVy3xU/maxresdefault.jpg,https://images.pexels.com/photos/260024/pexels-photo-260024.jpeg,https://cdn.pixabay.com/photo/2013/10/28/18/52/brandenburger-tor-201940_960_720.jpg,https://cdn.pixabay.com/photo/2017/10/31/21/22/eiffel-tower-2906526_960_720.jpg" />
  </appSettings>
</configuration>